<a href="https://colab.research.google.com/github/Ragavendhra-Ramanan/Python_Programs/blob/main/Python18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1
Create a function that takes a list of non-negative integers and strings and return a new list
without the strings.
Examples
filter_list([1, 2, &quot;a&quot;, &quot;b&quot;]) ➞ [1, 2]
filter_list([1, &quot;a&quot;, &quot;b&quot;, 0, 15]) ➞ [1, 0, 15]
filter_list([1, 2, &quot;aasf&quot;, &quot;1&quot;, &quot;123&quot;, 123]) ➞ [1, 2, 123]

In [5]:
def filter_list(a):
  """
  returns new list without strings
  """
  answer=[]
  for i in a:
    if type(i)==int:
      answer.append(i)
  return answer

In [6]:
filter_list([1, 2, "aasf", "1", "123", 123])

[1, 2, 123]

Question 2
The &quot;Reverser&quot; takes a string as input and returns that string in reverse order, with the
opposite case.
Examples
reverse(&quot;Hello World&quot;) ➞ &quot;DLROw OLLEh&quot;
reverse(&quot;ReVeRsE&quot;) ➞ &quot;eSrEvEr&quot;
reverse(&quot;Radar&quot;) ➞ &quot;RADAr&quot;

In [15]:
def reverse(a):
  """
  reverses with opposite cases
  """
  answer=list(reversed(a))
  for i in range(len(answer)):
    if answer[i].islower():
      answer[i]=answer[i].upper()
    else:
      answer[i]=answer[i].lower()

  return "".join(answer)

In [17]:
reverse("ReVeRsE")

'eSrEvEr'

With Python 3, you can assign variables from lists in a much more succinct way. Create
variables first, middle and last from the given list using destructuring assignment
(check the Resources tab for some examples), where:
first ➞ 1
middle ➞ [2, 3, 4, 5]
last ➞ 6

Your task is to unpack the list writeyourcodehere into three variables, being first,
middle, and last, with middle being everything in between the first and last element. Then
print all three variables.

In [21]:
def lst(a):
  """
  prints the following first,middle and last
  """
  first,*middle,last=a
  print(first)
  print(middle)
  print(last)

In [22]:
lst([1, 2, 3, 4, 5, 6])

1
[2, 3, 4, 5]
6

Question 4
Write a function that calculates the factorial of a number recursively.
Examples
factorial(5) ➞ 120
factorial(3) ➞ 6
factorial(1) ➞ 1
factorial(0) ➞ 1

In [23]:
def factorial(a):
  """
  returns factorial of a number
  """
  if a==0 or a==1:
    return 1
  return a*factorial(a-1)

Question 5
Write a function that moves all elements of one type to the end of the list.
Examples
move_to_end([1, 3, 2, 4, 4, 1], 1) ➞ [3, 2, 4, 4, 1, 1]
# Move all the 1s to the end of the array.
move_to_end([7, 8, 9, 1, 2, 3, 4], 9) ➞ [7, 8, 1, 2, 3, 4, 9]
move_to_end([&quot;a&quot;, &quot;a&quot;, &quot;a&quot;, &quot;b&quot;], &quot;a&quot;) ➞ [&quot;b&quot;, &quot;a&quot;, &quot;a&quot;, &quot;a&quot;]

In [26]:
def move_to_end(a,b):
  """
  if b in list move it to end
  """
  
  old=0
  for i in range(len(a)):
    if a[i]!=b:
      tmp=a[i]
      a[i]=a[old]
      a[old]=tmp
      old+=1
  return a

In [27]:
move_to_end([7, 8, 9, 1, 2, 3, 4], 9)

[7, 8, 1, 2, 3, 4, 9]

In [28]:
move_to_end([1, 3, 2, 4, 4, 1], 1)

[3, 2, 4, 4, 1, 1]

In [29]:
move_to_end(["a", "a", "a", "b"], "a")

['b', 'a', 'a', 'a']