<a href="https://colab.research.google.com/github/Ragavendhra-Ramanan/Python_Programs/blob/main/Python20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question1
Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.
Examples
filter_list([1, 2, 3, &quot;a&quot;, &quot;b&quot;, 4]) ➞ [1, 2, 3, 4]
filter_list([&quot;A&quot;, 0, &quot;Edabit&quot;, 1729, &quot;Python&quot;, &quot;1729&quot;]) ➞ [0, 1729]
filter_list([&quot;Nothing&quot;, &quot;here&quot;]) ➞ []

In [2]:
def filter_list(a):
  """
  return only integer
  """
  return list(filter(lambda x:type(x)==int,a))

In [3]:
filter_list([1,2,3,"a","b",4])

[1, 2, 3, 4]

Question2
Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [4]:
def add_indexes(a):
  """
  Add index to the numbers
  """
  for i in range(len(a)):
    a[i]+=i
  return a

In [5]:
add_indexes([5,4,3,2,1])

[5, 5, 5, 5, 5]

Question3
Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

Examples
cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49
cone_volume(18, 0) ➞ 0

In [7]:
def cone_volume(h,r):
  """
  volume of the cone
  """
  from math import pi
  return round(1/3*(pi*r*r*h),2)

In [8]:
cone_volume(3,2)

12.57

Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.

In [9]:
def triangle(n):
  """
  gives triangular number
  """
  total=0
  for i in range(n+1):
    total+=i
  return total

In [10]:
triangle(5)

15

In [12]:
triangle(215)

23220

Question5
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [21]:
from functools import reduce
def missing_num(a):
  """
  returns missing number
  """
  total=reduce(lambda x1,x2: x1+x2,list(range(1,11)))
  return total-sum(a)

In [22]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10