<a href="https://colab.research.google.com/github/Ragavendhra-Ramanan/Python_Programs/blob/main/Python23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(a):
  """
  check if a is symmetrical
  """

  n=a
  num=0
  while n>0:
    num=(num*10)+(n%10)
    n=n//10
  return num==a

In [2]:
is_symmetrical(9939)

False

In [3]:
is_symmetrical(1112111)

True

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20

In [25]:
def multiply_nums(a):
  """
  multiply the given numbers
  """
  from functools import reduce
  numbers=[]
  val=0
  for i in a:
    if i.isnumeric():
      val=(val*10)+int(i)
    else:
      numbers.append(val)
      val=0
  numbers.append(val)
  return reduce(lambda x,y:x*y ,numbers)

In [26]:
multiply_nums("54,75,453,0")

0

In [27]:
multiply_nums("1,2,3,4")

24

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [34]:
def square_digits(a):
  """
  return squares
  """
  ans=str(a)
  res=""

  for i in ans:
    res+=str(int(i)**2)
  return int(res)

In [35]:
square_digits(3212)

9414

In [36]:
square_digits(9119)

811181

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [37]:
def setify(a):
  """
  sort and remove duplicate elements
  """
  return sorted(set(a))

In [38]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [39]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [42]:
def mean(a):
  """
  returns mean of all digits
  """
  l=0
  total=0
  while a>0:
    total+=a%10
    a=a//10
    l+=1
  return total//l

In [43]:
mean(512)

2

In [44]:
mean(12345)

3