<a href="https://colab.research.google.com/github/Ragavendhra-Ramanan/Python_Programs/blob/main/PythonProgram15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1:
Please write a program using generator to print the numbers which can be divisible by 5 and
7 between 0 and n in comma separated form while n is input by console.
Example:
If the following n is given as input to the program:
100
Then, the output of the program should be:
0,35,70

In [5]:
def divisors(n):
  """
  Numbers <=n which are divisible by 7 and 5
  """
  for i in range(n+1):
    if (i%5 ==0) and (i%7==0):
      yield i

In [6]:
ans=divisors(100)
for i in ans:
  print(i,end=",")

0,35,70,

Question 2:
Please write a program using generator to print the even numbers between 0 and n in comma
separated form while n is input by console.
Example:
If the following n is given as input to the program:
10
Then, the output of the program should be:
0,2,4,6,8,10

In [7]:
def even(n):
  """
  Numbers <=n which are even numbers
  """
  for i in range(n+1):
    if i%2==0:
      yield i

In [8]:
result=even(10)
for i in result:
  print(i,end=",")

0,2,4,6,8,10,

Question 3:
The Fibonacci Sequence is computed based on the following formula:
f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n&gt;1
Please write a program using list comprehension to print the Fibonacci Sequence in comma
separated form with a given n input by console.
Example:
If the following n is given as input to the program:
7

Then, the output of the program should be:
0,1,1,2,3,5,8,13

In [9]:
def fib(n):
  """
  Calculate fibonacci
  """
  if n==0:
    return 0
  if n==1:
    return 1
  return fib(n-1)+fib(n-2)

In [16]:
n=7
ans=[(lambda x:fib(x)) (x) for x in range(n+1)]

In [17]:
ans

[0, 1, 1, 2, 3, 5, 8, 13]

Question 4:
Assuming that we have some email addresses in the &quot;username@companyname.com&quot; format,
please write program to print the user name of a given email address. Both user names and
company names are composed of letters only.
Example:
If the following email address is given as input to the program:
john@google.com
Then, the output of the program should be:
john

In [26]:
def get_user(mail):

  """
  Print user name in mail
  """
  ans=mail.split("@")[0]
  t=all(i.isalpha() for i in ans)
  if t:
    return ans
  else:
    return "No user name found"

In [27]:
get_user("john@google.com")

'john'

In [28]:
get_user("john1@google.com")

'No user name found'

Question 5:
Define a class named Shape and its subclass Square. The Square class has an init function
which takes a length as argument. Both classes have a area function which can print the area
of the shape where Shape&#39;s area is 0 by default.

In [42]:
class Shape:
  def __init__(self):
    self.areaval=0
  def area(self):
    return self.areaval

In [43]:
class Square(Shape):
  def __init__(self,l):
    self.length=l
  
  def area(self):
    return self.length*self.length

In [44]:
a=Square(10)
a.area()

100

In [45]:
b=Shape()
b.area()

0